#bot {
  background: #dddddd;
  position:absolute;
  width:30%; 
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  }
  
#bot p {
  font-weight:bold;
  }
#message {
  font-style:italic;
  color:red;
  }
#answer {
  font-style:italic;
  color:blue;
}